# Prácticas básicas con Python

#### Ejercicio 00. Declaración de Variables

Define las siguientes variables con valores que tú elijas:

- Una variable que almacene tu nombre (texto).
- Una variable que almacene tu edad (número entero).
- Una variable que indique si te gusta la programación (verdadero o falso).
- Una variable que almacene tu calificación promedio (número decimal).

In [ ]:
# Declara aquí tus variables.

#Ejemplo
saludo = "Hola mundo" 
nombre = "Eduardo"
edad = 44
me_gusta_la_programacion = True
calificacion_promedio = 14

- Crea una lista con tus cinco números favoritos e imprimelo.

In [1]:
# Lista de números favoritos
favoritos = [1,2,3,5,7]
print(favoritos)

[1, 2, 3, 5, 7]

- Crea un diccionario que guarde la información de un estudiante e imprimelo:

        - Nombre
        - Edad
        - Calificación final

In [2]:
# Diccionario del estudiante
estudiante = {"Nombre":"Carlos",
 "Edad":23,
 "Calificación final" : 18}

print (estudiante)

{'Nombre': 'Carlos', 'Edad': 23, 'Calificación final': 18}

#### Ejercicio 01. Análisis de datos básico con estructuras nativas de python.
Crea una lista con las calificaciones de 5 estudiantes: [8.5, 9.2, 7.8, 8.9, 10].

- Calcula el promedio de las calificaciones.

In [3]:
# Código
import numpy as np
calificaciones = [8.5,9.2,7.8,8.9,10]
calificacion_promedio = np.mean(calificaciones)
print(calificacion_promedio)

8.879999999999999

- Encuentra la calificación más alta y la más baja.

In [5]:
# Código
maxima_calificacion = np.max(calificaciones)
minima_calificacion = np.min(calificaciones)
print("Calificación máxima="+str(maxima_calificacion))
print("Calificación mínima="+str(minima_calificacion))

Calificación máxima=10.0
Calificación mínima=7.8

# Limpieza de bienes raíces con Pandas para un análisis eficiente 

Este es un conjunto de datos (dataset) reales que fue descargado usando técnicas de web scraping. La data contiene registros de **Fotocasa**, el cual es uno de los sitios más populares de bienes raíces en España. Por favor no hagas esto (web scraping) a no ser que sea para propósitos académicos.

El dataset fue descargado hace algunos años por Henry Navarro y en ningún caso se obtuvo beneficio económico de ello.

Contiene miles de datos de casas reales publicadas en la web www.fotocasa.com. Tu objetivo es extraer tanta información como sea posible con el conocimiento que tienes hasta ahora de ciencia de datos.

¡Comencemos!




- Primero leamos y exploraremos el dataset

In [1]:
import pandas as pd

# Leer el archivo CSV
ds = pd.read_csv('assets/real_estate.csv', sep=';') # Este archivo CSV contiene puntos y comas en lugar de comas como separadores
ds # mostramos todo

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

- Muestra las primeras filas del archivo CSV

In [9]:
# Mostrar las primeras filas
import pandas as pd

# Leer el archivo CSV
ds = pd.read_csv('assets/real_estate.csv', sep=';') # Este archivo CSV contiene puntos y comas en lugar de comas como separadores
ds.head()

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN

Perfecto, esto fue una pequeña practica. ¡Ahora empecemos con los verdaderos ejercicios!

#### Ejercicio 01. ¿Cuál es la casa más cara en todo el dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Por ejemplo:

`La casa con dirección en Calle del Prado, Nº20 es la más cara y su precio es de 5000000 USD`

In [ ]:
# TODO
import pandas as pd

# Leer el archivo CSV
ds = pd.read_csv('assets/real_estate.csv', sep=';') # Este archivo CSV contiene puntos y comas en lugar de comas como separadores

precio_maximo=ds["price"].max()
casa_mas_cara = ds.loc[ds["price"]==precio_maximo]
print(casa_mas_cara.address)
print(precio_maximo)

13110    El Escorial
Name: address, dtype: object
8500000

#### Ejercicio 02. ¿Cuál es la casa más barata del dataset? (★☆☆)

Este ejercicio es similar al ejercicio anterior, solo que ahora buscamos la casa con el precio más bajo. Recuerda imprimir la dirección y el precio de la casa seleccionada. Por ejemplo:

`La casa con dirección en Calle Alcalá, Nº58 es la más barata y su precio es de 12000 USD`

In [28]:
# TODO
import pandas as pd

# Leer el archivo CSV
ds = pd.read_csv('assets/real_estate.csv', sep=';') # Este archivo CSV contiene puntos y comas en lugar de comas como separadores

precio_minimo=ds["price"].min()
casa_mas_barata = ds.loc[ds["price"]==precio_minimo]
print(casa_mas_barata.address)
print(precio_minimo)

366                                                  Parla
694      Avenida de Los Pirineos, 33, San Sebastián de ...
1003                 Paseo del Licenciado Vidriera, Getafe
1255     Avenida del Cardenal Herrera Oria, 338,  Madri...
1534                  Calle Campomanes, Pozuelo de Alarcón
1554                                    Boadilla del Monte
1645                        Plaza Canto Redondo, 5, Getafe
1798                                        Madrid Capital
1829                                        Madrid Capital
2049                               Calle Acuario, Móstoles
2058                           Calle Praderas, Majadahonda
2197            Calle Procesiones, Villanueva del Pardillo
2266     Calle Benito Perez Galdos, Torrejón de la Calzada
2750                                        Madrid Capital
3036          Calle Francisco Vivancos, 6,  Madrid Capital
3201                                     Torrejón de Ardoz
3435                     Calle Diligencia,  Madrid Capital
3959                        Plaza Canto Redondo, 5, Getafe
3989                        Plaza Canto Redondo, 5, Getafe
4019                        Plaza Canto Redondo, 5, Getafe
4031                  Calle Campomanes, Pozuelo de Alarcón
4167                               Calle Acuario, Móstoles
4362                        Plaza Canto Redondo, 5, Getafe
4605            Calle Procesiones, Villanueva del Pardillo
4902                      Calle de Lozano,  Madrid Capital
5013                                Arroyomolinos (Madrid)
5072                 Calle Granados, 16, Torrejón de Ardoz
5439                                     Rivas-vaciamadrid
5446                                        Madrid Capital
5463                                 Camarma de Esteruelas
5628          Avenida 25 de Noviembre, Moraleja de Enmedio
5645                                     Torrejón de Ardoz
5648                                     Torrejón de Ardoz
6439                        Plaza Canto Redondo, 5, Getafe
6585                  Calle Campomanes, Pozuelo de Alarcón
7227                        Plaza Canto Redondo, 5, Getafe
7331                  Calle Campomanes, Pozuelo de Alarcón
7356                        Plaza Canto Redondo, 5, Getafe
8111                                Calle Goya, 2, Brunete
8172                  Calle Campomanes, Pozuelo de Alarcón
8183     Avenida de Los Pirineos, 33, San Sebastián de ...
8192                        Plaza Canto Redondo, 5, Getafe
8256                        Plaza Canto Redondo, 5, Getafe
8828                                              Móstoles
8962                      Calle Veintiocho, 1, El Escorial
10292                                              Coslada
10297          Calle de las Viñas del Rio,  Madrid Capital
10436                                 Calle Crater, Getafe
10498                                       Madrid Capital
11032                               Arroyomolinos (Madrid)
11291            Calle Antonio Moya, Camarma de Esteruelas
12034        V.c. Puente de Vallecas - A3,  Madrid Capital
12630                                                Corpa
12667                                                Pinto
13271           Calle Procesiones, Villanueva del Pardillo
13272           Calle Procesiones, Villanueva del Pardillo
13273                  Avenida Pintor Antonio Lopez, Pinto
14697    Calle Obispo Braulio Rodríguez Plaza, Aldea de...
14773                         Calle Planeta Neptuno, Parla
15204                                           Alcobendas
Name: address, dtype: object
0

#### Ejercicio 03. ¿Cuál es la casa más grande y la más pequeña del dataset? (★☆☆)

Imprime la dirección y el área de las casas seleccionadas. Por ejemplo:

`La casa más grande está ubicada en Calle Gran Vía, Nº38 y su superficie es de 5000 metros`

`La casa más pequeña está ubicada en Calle Mayor, Nº12 y su superficie es de 200 metros`

Este ejercicio es similar al anterior, pero buscamos las casas más grandes y pequeñas en base a su superficie.

In [29]:

import pandas as pd

# Leer el archivo CSV
ds = pd.read_csv('assets/real_estate.csv', sep=';') # Este archivo CSV contiene puntos y comas en lugar de comas como separadores

area_minima=ds["surface"].min()
area_maxima=ds["surface"].max()
casa_mas_chiquita = ds.loc[ds["surface"]==area_minima]
casa_mas_grande = ds.loc[ds["surface"]==area_maxima]
print(casa_mas_chiquita.address)
print(area_minima)
print(casa_mas_grande.address)
print(area_maxima)

498    Calle Amparo,  Madrid Capital
Name: address, dtype: object
15.0
6794    Sevilla la Nueva
Name: address, dtype: object
249000.0

#### Ejercicio 04. ¿Cuantas poblaciones contiene el dataset? (★☆☆)

Cuenta el número de poblaciones únicas en la columna 'level5' e imprime el nombre de las poblaciones separadas por coma. Por ejemplo:

`> print(populations)`

`population1, population2, population3, ...`

In [ ]:
# TODO
import pandas as pd

# Leer el archivo CSV
ds = pd.read_csv('assets/real_estate.csv', sep=';') # Este archivo CSV contiene puntos y comas en lugar de comas como separadores
ds.value_counts("level5")

np.int64(15335)

#### Ejercicio 05. ¿El dataset contiene valores nulos (NAs)? (★☆☆)

Imprima un booleano (`True` o `False`) para verificar si hay valores nulos seguido de las columnas que contiene el NAs.

In [60]:
# TODO
import pandas as pd

# Leer el archivo CSV
ds = pd.read_csv('assets/real_estate.csv', sep=';') # Este archivo CSV contiene puntos y comas en lugar de comas como separadores
not_na = ds.notna()

columnas = not_na.columns
for i in columnas:
    current = True
    falses = not_na.loc[not_na[i]==False]
    if ( len(falses) > 0):
        print(i+" = True")
    else:
        print(i+" = False")

Unnamed: 0 = False
id_realEstates = False
isNew = False
realEstate_name = True
phone_realEstate = True
url_inmueble = False
rooms = True
bathrooms = True
surface = True
price = False
date = False
description = True
address = False
country = False
level1 = False
level2 = False
level3 = False
level4 = True
level5 = False
level6 = True
level7 = True
level8 = True
upperLevel = False
countryId = False
level1Id = False
level2Id = False
level3Id = False
level4Id = False
level5Id = False
level6Id = False
level7Id = False
level8Id = False
accuracy = False
latitude = False
longitude = False
zipCode = True
customZone = True

#### Ejercicio 06. Elimina los valores nulos (NAs) del dataset, si aplica (★★☆)

Despues de eliminar los valores nulos, compara el tamaño del DataFrame antes y después de la eliminación.

In [ ]:
# TODO

#### Ejercicio 07. ¿Cuál es la media de precios en la población de "Arroyomolinos (Madrid)"? (★★☆)

Imprima el valor obtenido de la columna level5.

In [ ]:
# TODO

#### Ejercicio 08. Trazar el histograma de los precios para la población de "Arroyomolinos (Madrid)" y explica qué observas (★★☆)

Imprime el histograma de los precios y escribe en la celda del Markdown un breve análisis del trazado.

In [ ]:
import matplotlib.pyplot as plt

# Trazar el histograma de precios

**TODO: Markdown**. Para escribir aquí, haz doble clic en esta celda, elimina este contenido y coloca lo que quieras escribir. Luego ejecuta la celda.